.cell-head {
    color: rgba(0, 0, 0, 0.87);
    font-weight: 500;
    line-height: 1.5rem;
    text-align: center;
}

.head-arrow-icon {
    position: absolute;
    top: 17px;
}

.name-arrow {
    left: 37px;
}

.in-buy-box-arrow {
    left: -3px;
}

.price-arrow {
    left: 8px;
}

.keyword-arrow {
    left: 29px;
}

.category-arrow {
    left: 6px;
}
.rating-arrow {
    left: 3px;
}

.reviews-arrow {
    left: 4px;
}

.head-arrow-icon button {
    border: 0;
    background: transparent;
    cursor: pointer;
}
.fas {
    font-size: 16px;
}
