tbody {
    display: table-row-group;
}

thead {
    display: table-header-group;
}

th,
tr {
    color: inherit;
    display: table-row;
    outline: 0;
    vertical-align: middle;
}

td {
    border-bottom: unset;
}

td button {
    flex: 0 0 auto;
    color: rgba(0, 0, 0, 0.54);
    overflow: visible;
    font-size: 1.5rem;
    text-align: center;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    padding: 0;
    position: relative;
    align-items: center;
    border-radius: 0;
    vertical-align: middle;
    justify-content: center;
    text-decoration: none;
    -moz-user-select: none;
    background-color: transparent;
    -webkit-appearance: none;
}

.cell {
    display: table-cell;
    padding: 16px;
    font-size: 0.875rem;
    text-align: left;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-weight: 400;
    line-height: 1.43;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    letter-spacing: 0.01071em;
    vertical-align: inherit;
}

.cell-head {
    color: rgba(0, 0, 0, 0.87);
    font-weight: 500;
    line-height: 1.5rem;
    text-align: center;
}

.align-center {
    text-align: center;
}

.head-arrow-icon {
    position: absolute;
    top: 17px;
}

.name-arrow {
    left: 37px;
}

.in-buy-box-arrow {
    left: -3px;
}

.price-arrow {
    left: 8px;
}

.keyword-arrow {
    left: 29px;
}

.category-arrow {
    left: 6px;
}
.rating-arrow {
    left: 3px;
}

.reviews-arrow {
    left: 4px;
}

.head-arrow-icon button {
    border: 0;
    background: transparent;
    cursor: pointer;
}
.fas {
    font-size: 16px;
}
